body
{
    background-color: rgb(210, 219, 228);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

button
{
    margin: 0 6px;
}
 
hr.infos-spectre
{
    width: 70%;
    color: rgb(186, 184, 184);
    background-color: rgb(42, 45, 48);
}

li
{
   transition: all ease 0.7s;
   cursor: pointer; 
}

li:hover
{
    color: rgb(245, 247, 241);
}

hr.section1-section2
{
    height: 65%;
    margin-top: 100px;
    border-color: rgb(168, 168, 168);
    background-color: rgba(50, 49, 49, 0.701);
}




.mode
{
    display: flex;
    justify-content: space-between;
}

.mode .mod 
{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

input[type=range].elapsed, input[type=range].le-volume
{
    -webkit-appearance:none;
    background-color: #93f007;
    width:50%;
    outline:none;
    height:1px;
    margin:0 15px;
    cursor:pointer;
}

/* input[type=range].elapsed::-webkit-slider-thumb,
 input[type=range].le-volume::-webkit-slider-thumb
{
    -webkit-appearance:none;
    
} */






/* color */
/* rgb(148, 206, 137) jour:rgb(191, 194, 197) nuit: rgb(26, 47, 69)*/

.ligne 
{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 70px;
    margin-left: 80px;
    width: 90%;
    height: 570px;
    /* background-color: aliceblue; */
}

.container
{
    display: flex;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border: 2px solid rgb(62, 110, 69);
    width: 70%;
    height: 100%;
    
}

.container .section1
{
    width: 40%;
    height: 99%;
    /* background-color: bisque; */
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.section1 .titre
{
    color: white;
    font-size: 2em;
    width: 100%;
    height: 10%;
}

.section1 .img
{
    display: flex;
    justify-content: center;

    width: 100%;
    height: 30%;
}

.section1 .img img.track-img
{
    border-radius: 30px;
}

.section1 .track-infos
{
    width: 100%;
    height: 17%;
    /* background-color: rgb(105, 94, 80); */
}

.section1 .track-infos .track-title
{
    font-size: 1.3em;
    color: white;
}

.section1 .track-infos .track-author
{
    font-size: 1.8em;
    color: white;
}


.section1 .spectre
{
    width: 100%;
    height: 16%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1 .spectre .vibration
{
    background: #f1f1f1;
    height: 80%;
    width: 10px;
    border-radius: 50px;
    margin: 0px 5px;
}

.section1 .ranges
{
    width: 100%;
    height: 15%;
}

.section1 .ranges .duration input.elapsed
{
    width: 60%;
}

.section1 .buttons
{
    width: 100%;
    height: 10%;
    border-bottom-left-radius: 8px;
}

.section1 .buttons .contain
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
}

.section1 .buttons .functions
{
    display: flex;
    justify-content: center;
    margin-top: -10px;
}



.container .section2
{
    width: 60%;
    height: 99%;
}

.box
{
    width: 500px;
    height: 200px;
    border: 2px solid rgb(245, 220, 225);
    padding: 4px 6px;
    font: 16 px;
}


/* .section2{
    
} */
.section2 .nav
{
    height: 8%;
    width: 100%;
}
.section2 .scroll
{
    overflow: scroll;
    width: 100%;
    height: 90%;
}


.section2 .scroll::-webkit-scrollbar
{
    width: 4px;
}

.section2 .scroll::-webkit-scrollbar-thumb
{
    background-color: #8f8f93;
    width: 100%;
}

.section2 .scroll .track
{
    width: 100%;
    height: 35px;
    line-height: 35px;
    display: flex;
    cursor: pointer;
}

.section2 .scroll .track1
{
    width: 100%;
    height: 35px;
    line-height: 35px;
    display: flex;
    cursor: pointer;
}

.entête{
    display: flex;
  
}
.entête li{
    padding: 0 20px;
    list-style-type: none;
}

/* Keyframes */

@keyframes animate
{
    50%{
        height: 20%;
        background: #4286f4;
    }
    100%{
        height: 40px;
    }
}

 .section1 .spectre .vibration:nth-child(1)
{
    animation-delay: 0.3s;
}
.section1 .spectre .vibration:nth-child(2)
{
    animation-delay: 0.2s;
}
.section1 .spectre .vibration:nth-child(3)
{
    animation-delay: 0.6s;
}
.section1 .spectre .vibration:nth-child(4)
{
    animation-delay: 0.8s;
}
.section1 .spectre .vibration:nth-child(5)
{
    animation-delay: 0.2s;
}
.section1 .spectre .vibration:nth-child(6)
{
    animation-delay: 0.8s;
}
.section1 .spectre .vibration:nth-child(7)
{
    animation-delay: 0.4s;
}

#box {
    width: 500px;
    height: 200px;
    border: 2px solid rgb(245, 220, 225);
    padding: 4px 6px;
    font: 16px "Lucida Grande", "Helvetica", "Arial", "sans-serif", "georgia"
}


.cercle
{
    display: flex;
    justify-content: center;
    justify-items: center;
    /* border-radius: 55px; */
    width: 45px;
    height: 8%;
    cursor: pointer;
    /* background-color: aqua; */
   
}

.triangle
{
    width: 0;
    height: 0;
    border-left: 27px solid red;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
}

.trait
{
    height: 26px;
    width: 4px;
    margin-top: 2px;
    background-color: red;
    border-radius: 1px;

}

.pause
{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    /* border-radius: 55px; */
    width: 45px;
    height: 100%;
    cursor: pointer;
}

.trait1
{
    height: 93%;
    width: 7px;
    margin-top: 2px;
    background-color: red;
    border-radius: 2px; 

}

.trian 
{
    width: 0;
    height: 0;
    border-right: 27px solid red;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
}